<footer class="footer-section pt-100 bg-theme-color2">
   <div class="container">
      <div class="contact-info-area">
         <div class="contact-info-items wow fadeInUp" data-wow-delay=".7s">
            <div class="icon">
               <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16 1.6665C11.036 1.6665 7 5.7385 7 10.7612C7 12.4625 7.74933 14.5732 8.84 16.6785C11.2413 21.3145 15.2413 25.9838 15.2413 25.9838C15.3352 26.0932 15.4516 26.1809 15.5826 26.2411C15.7135 26.3012 15.8559 26.3324 16 26.3324C16.1441 26.3324 16.2865 26.3012 16.4174 26.2411C16.5484 26.1809 16.6648 26.0932 16.7587 25.9838C16.7587 25.9838 20.7587 21.3145 23.16 16.6785C24.2507 14.5732 25 12.4625 25 10.7612C25 5.7385 20.964 1.6665 16 1.6665ZM16 6.99984C15.0447 7.0256 14.1371 7.42322 13.4705 8.10804C12.8039 8.79286 12.4309 9.71081 12.4309 10.6665C12.4309 11.6222 12.8039 12.5401 13.4705 13.225C14.1371 13.9098 15.0447 14.3074 16 14.3332C16.9553 14.3074 17.8629 13.9098 18.5295 13.225C19.1961 12.5401 19.5691 11.6222 19.5691 10.6665C19.5691 9.71081 19.1961 8.79286 18.5295 8.10804C17.8629 7.42322 16.9553 7.0256 16 6.99984Z" fill="currentColor"/>
               </svg>
            </div>
            <div class="content">
               <p>Address</p>
               <h3>4648 Rocky Road Philadelphia PA</h3>
            </div>
         </div>
         <div class="contact-info-items wow fadeInUp" data-wow-delay=".5s">
            <div class="icon"><i class="fal fa-envelope" style="font-size:28px"></i></div>
            <div class="content">
               <p>Send Email</p>
               <h3><a href="mailto:info@example.com">info@example.com</a></h3>
            </div>
         </div>
         <div class="contact-info-items wow fadeInUp" data-wow-delay=".3s">
            <div class="icon"><i class="far fa-phone" style="font-size:28px"></i></div>
            <div class="content">
               <p>Call Us</p>
               <h3><a href="tel:+2085550112">+88 0123 654 99</a></h3>
            </div>
         </div>
      </div>
   </div>
   <div class="widget-area style1 pb-80">
      <div class="container">
         <div class="footer-layout style1">
            <div class="row">
               <div class="col-xl-3 col-md-6 col-12">
                  <div class="widget footer-widget wow fadeInUp" data-wow-delay=".6s">
                     <div class="gt-widget-about">
                        <div class="about-logo">
                           <a href="index.html"><img src="assets/img/footer-logo.svg" alt="extech"></a>
                        </div>
                        <p class="about-text">Extech IT is a Phasellus ultricies aliquam volutpat ullamcorper laoreet neque, a lacinia curabitur lacinia mollis</p>
                        <div class="gt-social style2">
                           <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                           <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                           <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                           <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-2 col-md-6 col-12">
                  <div class="widget widget_nav_menu footer-widget wow fadeInUp" data-wow-delay="1s">
                     <h3 class="widget_title">Quick Links</h3>
                     <div class="menu-all-pages-container">
                        <ul class="menu">
                           <li><a href="about.html"><i class="fa-solid fa-chevrons-right"></i>About</a></li>
                           <li><a href="career.html"><i class="fa-solid fa-chevrons-right"></i>Careers</a></li>
                           <li><a href="service.html"><i class="fa-solid fa-chevrons-right"></i>Our Services</a></li>
                           <li><a href="news.html"><i class="fa-solid fa-chevrons-right"></i>Our Blogs</a></li>
                           <li><a href="faq.html"><i class="fa-solid fa-chevrons-right"></i>FAQ's</a></li>
                           <li><a href="contact.html"><i class="fa-solid fa-chevrons-right"></i>Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-md-6 col-12">
                  <div class="widget footer-widget wow fadeInUp" data-wow-delay="1.3s">
                     <h3 class="widget_title">Recent Posts</h3>
                     <div class="recent-post-wrap">
                        <div class="recent-post">
                           <div class="media-img"><a href="news-details.html"><img src="assets/img/footer/footerThumb1_1.png" alt="thumb"></a></div>
                           <div class="media-body">
                              <div class="recent-post-meta"><a href="news-details.html"><img src="assets/img/icon/calendarIcon.svg" alt="icon">15th April, 2024</a></div>
                              <h4 class="post-title"><a class="text-inherit" href="news-details.html">Top 5 Most Famous Technology Trend In 2024</a></h4>
                           </div>
                        </div>
                        <div class="recent-post">
                           <div class="media-img"><a href="news-details.html"><img src="assets/img/footer/footerThumb1_2.png" alt="thumb"></a></div>
                           <div class="media-body">
                              <div class="recent-post-meta"><a href="news-details.html"><img src="assets/img/icon/calendarIcon.svg" alt="icon">20th June, 2024</a></div>
                              <h4 class="post-title"><a class="text-inherit" href="news-details.html">The Surfing Man Will Blow Your Mind</a></h4>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6 col-12">
                  <div class="widget widget_nav_menu footer-widget wow fadeInUp" data-wow-delay="1.6s">
                     <h3 class="widget_title">Contact Us</h3>
                     <div class="checklist style2">
                        <ul class="ps-0"><li class="text-white"><i class="fa-solid fa-envelope"></i></li><li class="text-white">info@example.com</li></ul>
                        <ul class="ps-0"><li class="text-white"><i class="fa-solid fa-phone"></i></li><li class="text-white">+208-6666-0112</li></ul>
                        <div class="email-input-container">
                           <input type="email" id="email" placeholder="Your email address" required="">
                           <button type="submit" id="submitButton" disabled=""><i class="fa-regular fa-arrow-right-long"></i></button>
                        </div>
                        <form id="termsForm">
                           <label class="custom-checkbox">
                              <input type="checkbox" name="agree" id="agreeCheckbox">
                              <span class="checkmark"></span>
                              I agree to the <a class="text-underline" href="contact.html" target="_blank">Privacy Policy.</a>
                           </label>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="copyright-wrap bg-theme">
      <div class="container">
         <div class="copyright-layout">
            <div class="layout-text wow fadeInUp" data-wow-delay=".3s">
               <p class="copyright"><i class="fal fa-copyright"></i> All Copyright 2024 by <a href="index.html">Extech</a></p>
            </div>
            <div class="layout-link wow fadeInUp" data-wow-delay=".6s">
               <div class="link-wrapper">
                  <a href="contact.html">Terms &amp; Condition</a>
                  <a href="contact.html">Privacy Policy</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
