<header>
   <div class="header-top-section top-style-3">
      <div class="container">
         <div class="header-top-wrapper">
            <ul class="contact-list">
               <li><i class="far fa-envelope"></i><a href="mailto:info@example.com" class="link">info@example.com</a></li>
               <li><i class="fa-solid fa-phone-volume"></i><a href="tel:2086660112">+208-666-0112</a></li>
            </ul>
            <div class="top-right">
               <div class="social-icon d-flex align-items-center">
                  <span>Follow Us:</span>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#"><i class="fa-brands fa-youtube"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="header-sticky" class="header-3">
      <div class="plane-shape"><img src="assets/img/plane.png" alt="shape-img"></div>
      <div class="container">
         <div class="mega-menu-wrapper">
            <div class="header-main">
               <div class="header-left">
                  <div class="logo">
                     <a href="index.html" class="header-logo"><img src="assets/img/logo.svg" alt="logo-img"></a>
                  </div>
               </div>
               <div class="header-right d-flex justify-content-end align-items-center">
                  <div class="mean__menu-wrapper">
                     <div class="main-menu">
                        <nav id="mobile-menu">
                           <ul>
                              <li class="has-dropdown menu-thumb">
                                 <a href="index.html">Home <i class="fas fa-angle-down"></i></a>
                                 <ul class="submenu has-homemenu">
                                    <li>
                                       <div class="homemenu-items">
                                          <div class="homemenu">
                                             <div class="homemenu-thumb">
                                                <img src="assets/img/header/home-1.jpg" alt="img">
                                                <div class="demo-button">
                                                   <a href="index.html" class="theme-btn"><span>Multi Page</span></a>
                                                   <a href="index-one-page.html" class="theme-btn"><span>One Page</span></a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center"><h4 class="homemenu-title">Home 01</h4></div>
                                          </div>
                                          <div class="homemenu">
                                             <div class="homemenu-thumb mb-15">
                                                <img src="assets/img/header/home-2.jpg" alt="img">
                                                <div class="demo-button">
                                                   <a href="index-2.html" class="theme-btn"><span>Multi Page</span></a>
                                                   <a href="index-two-page.html" class="theme-btn"><span>One Page</span></a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center"><h4 class="homemenu-title">Home 02</h4></div>
                                          </div>
                                          <div class="homemenu">
                                             <div class="homemenu-thumb mb-15">
                                                <img src="assets/img/header/home-3.jpg" alt="img">
                                                <div class="demo-button">
                                                   <a href="index-3.html" class="theme-btn"><span>Multi Page</span></a>
                                                   <a href="index-three-page.html" class="theme-btn"><span>One Page</span></a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center"><h4 class="homemenu-title">Home 03</h4></div>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </li>
                              <li><a href="about.html">About</a></li>
                              <li><a href="career.html">Careers</a></li>
                              <li>
                                 <a href="service.html">Services <i class="fas fa-angle-down"></i></a>
                                 <ul class="submenu">
                                    <li><a href="service.html">Services</a></li>
                                    <li><a href="service-carousel.html">Service Carousel</a></li>
                                    <li><a href="service-details.html">Service Details</a></li>
                                 </ul>
                              </li>
                              <li class="has-dropdown">
                                 <a href="project.html">Pages <i class="fas fa-angle-down"></i></a>
                                 <ul class="submenu">
                                    <li><a href="project.html">Projects</a></li>
                                    <li><a href="team.html">Our Team</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="news.html">Blog <i class="fas fa-angle-down"></i></a>
                                 <ul class="submenu">
                                    <li><a href="news.html">Blog Grid</a></li>
                                    <li><a href="news-standard.html">Blog Standard</a></li>
                                    <li><a href="news-details.html">Blog Details</a></li>
                                 </ul>
                              </li>
                              <li><a href="contact.html">Contact</a></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
                  <a href="#0" class="search-trigger search-icon"><i class="fal fa-search"></i></a>
                  <div class="header-button">
                     <a href="contact.html" class="theme-btn bg-white"><span>Get A Quote <i class="fa-solid fa-arrow-right-long"></i></span></a>
                  </div>
                  <div class="header__hamburger d-lg-none my-auto">
                     <div class="sidebar__toggle"><i class="fas fa-bars"></i></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
