.service-wrapper {
    margin-bottom: 187px;

    .service-text {
        margin-top: 50px;
        text-align: center;

        h6 {
            font-size: 16px;

            a {
                font-weight: 600;
                color: $theme-color;
                text-decoration: underline;
            }
        }
    }
}

.service-box-items {
    margin-top: 30px;
    background-color: $white;
    padding: 35px 30px;
    position: relative;
    z-index: 9;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    &::before {
        @include before;
        background-color: $theme-color;
        transform: scale(1, 0);
        transition: transform 500ms ease;
        transform-origin: bottom center;
        z-index: -1;
    }

    &::after {
        position: absolute;
        top: -50px;
        right: 0;
        width: 105px;
        height: 100%;
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/img/service/line-shape.png);
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @include transition;
    }

    .icon {
        position: relative;
        z-index: 2;
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 80px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../../assets/img/service/shape.png);
            z-index: -1;
            @include transition;
        }
    }

    .content {
        margin-top: 20px;

        h4 {
            margin-bottom: 5px;
            font-weight: bold;

            a {
                color: $header-color;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    &:hover {
        &::before {
            transform: scale(1, 1);
            transform-origin: top center;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }

        &::after {
            top: 0;
            visibility: visible;
            opacity: 1;
        }

        .icon {
            &::before {
                filter: grayscale(100%) brightness(300%);
            }
        }

        .content {
            h4 {
                a {
                    color: $white;
                }
            }

            p {
                color: $white;
            }

            .theme-btn-2 {
                color: $white;
            }
        }
    }

    &.active {
        &::before {
            transform: scale(1, 1);
            transform-origin: top center;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }

        &::after {
            top: 0;
            visibility: visible;
            opacity: 1;
        }

        .icon {
            &::before {
                filter: grayscale(100%) brightness(300%);
            }
        }

        .content {
            h4 {
                a {
                    color: $white;
                }
            }

            p {
                color: $white;
            }

            .theme-btn-2 {
                color: $white;
            }
        }
    }

    &.style-2 {
        background-color: $white;
        box-shadow: $shadow;

        &::before {
            @include before;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../../assets/img/service/01.jpg);
        }

        &.active {
            &::before {
                transform: scale(1, 1);
                transform-origin: top center;
            }

            &::after {
                top: 0;
                visibility: visible;
                opacity: 1;
            }

            .icon {
                &::before {
                    filter: grayscale(100%) brightness(300%);
                }
            }

            .content {
                h4 {
                    a {
                        color: $white;
                    }
                }

                p {
                    color: $white;
                }

                .theme-btn-2 {
                    color: $white;
                }
            }
        }

    }

    &.style-3 {
        box-shadow: $shadow;
        border-radius: 10px !important;
        background-color: $white;

        &::before {
            background: linear-gradient(180deg, #dd5907 -23.85%, #ef8145 100%);
            border-radius: 10px;
        }

        &::after {
            display: none;
        }

        .icon {
            &::before {
                background-image: url(../../assets/img/service/shape-2.png);
            }
        }

        .theme-btn-2 {
            border: 1px solid $border-color;
            padding: 20px 30px;
            border-radius: 100px;
            line-height: 1;
            margin-top: 30px;
            color: $header-color;

            &:hover {
                background-color: $white;
                color: $header-color;
            }
        }

        &:hover {
            .icon {
                &::before {
                    background-image: url(../../assets/img/service/shape.png);
                }
            }
        }

        &.active {
            &::before {
                transform: scale(1, 1);
                transform-origin: top center;
            }

            &::after {
                top: 0;
                visibility: visible;
                opacity: 1;
            }

            .icon {
                &::before {
                    background-image: url(../../assets/img/service/shape.png);
                }
            }

            .theme-btn-2 {
                background-color: $white;
                color: $header-color;
            }

            .content {
                h4 {
                    a {
                        color: $white;
                    }
                }

                p {
                    color: $white;
                }
            }
        }
    }
}

.service-section-2 {
    position: relative;

    &::before {
        @include before;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/img/service/service-bg-2.jpg);
        top: 85%;
    }
}

.service-card-items {
    margin-top: 30px;
    background-color: $white;
    border-radius: 0 0 10px 10px;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;

    .icon-2 {
        position: absolute;
        bottom: 8px;
        right: 8px;
        opacity: .2;
    }

    .service-image {
        img {
            @include imgw;
        }
    }

    .service-content {
        padding: 35px 30px;
        position: relative;
        z-index: 9;

        .icon {
            width: 70px;
            height: 70px;
            line-height: 65px;
            text-align: center;
            border-radius: 8px;
            background-color: $theme-color;
            margin-bottom: 30px;
            margin-top: -70px;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            -webkit-transition: -webkit-transform 500ms ease;
            transition: -webkit-transform 500ms ease;
            transition: transform 500ms ease;

            img {
                filter: grayscale(100%) brightness(300%);
            }
        }

        h4 {
            font-weight: 700;
            margin-bottom: 10px;

            a {
                color: $title-color;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    &:hover {
        .icon {
            transform: scaleX(-1);
        }
    }
}

.service-section-3 {
    position: relative;

    .line-shape-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            @include imgw;
        }
    }
}

.service-details-wrapper {
    .service-details-items {
        .details-image {
            img {
                @include imgw;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
            }
        }

        .details-content {
            margin-top: 35px;

            @include breakpoint (max-sm) {
                margin-top: 25px;
            }

            h3 {
                font-size: 30px;

                @include breakpoint (max-md) {
                    font-size: 26px;
                }

                @include breakpoint (max-sm) {
                    font-size: 24px;
                }
            }

            .details-video-items {
                @include flex;
                gap: 30px;
                margin-top: 40px;
                margin-bottom: 40px;
                flex-wrap: wrap;

                @include breakpoint (max-sm) {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                .video-thumb {
                    position: relative;

                    img {
                        @include imgw;
                        border-radius: 15px;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        -ms-border-radius: 15px;
                        -o-border-radius: 15px;
                    }

                    .video-box {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        border-radius: 50%;
                        text-align: center;
                        transform: translate(-50%, -50%);

                        .video-btn {
                            width: 55px;
                            height: 55px;
                            line-height: 55px;
                            background-color: $white;
                            color: $theme-color;
                            display: inline-block;
                            text-align: center;
                            border-radius: 50%;
                        }

                        .ripple {

                            &::before,
                            &::after {
                                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
                                width: 62px;
                                height: 62px;
                            }
                        }
                    }
                }

                .content {
                    p {
                        margin-top: 5px;
                    }

                    .list {
                        margin-top: 20px;

                        li {
                            font-weight: 500;
                            color: $text-color;

                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }

                            i {
                                margin-right: 10px;
                                color: $theme-color;
                            }
                        }
                    }
                }
            }

            .image-area {
                margin-top: 30px;
                margin-bottom: 40px;

                .thumb {
                    img {
                        @include imgw;
                        border-radius: 15px;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        -ms-border-radius: 15px;
                        -o-border-radius: 15px;
                    }
                }
            }
        }
    }
}

.main-sidebar {
    .single-sidebar-widget {
        padding: 40px 30px;
        background-color: $bg-color;
        margin-bottom: 30px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        .wid-title {
            margin-bottom: 25px;
        }

        .widget-categories {
            ul {
                li { 
                    background-color: $white;
                    font-weight: 500;
                    @include transition;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;

                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    a {
                        color: $header-color;
                        padding: 20px;
                        @include flex;
                        justify-content: space-between;
                    }

                    i {
                        color: $theme-color;
                        @include transition;
                    }

                    &:hover {
                        background-color: $theme-color;

                        a {
                            color: $white;
                        }

                        i {
                            color: $white;
                        }
                    }

                    &.active {
                        background-color: $theme-color;

                        a {
                            color: $white;
                        }

                        i {
                            color: $white;
                        }
                    }
                }
            }
        }

        .opening-category {
            ul {
                li {
                    @include flex;
                    gap: 16px;
                    padding: 20px;
                    background-color: $white;
                    font-weight: 500;
                    color: $header-color;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;

                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    i {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    .single-sidebar-image {
        height: 400px;
        max-width: 500px;
        position: relative;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        @include breakpoint (max-lg) {
            max-width: 800px;
        }

        &::before {
            @include before;
            background: linear-gradient(180deg, #3C72FC 0%, rgba(0, 6, 12, 0) 100%);
            opacity: 0.9;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }

        .contact-text {
            position: relative;
            text-align: center;
            padding: 130px 30px;
            margin: 0 auto;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;

            .icon {
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                background-color: $white;
                text-align: center;
                color: $theme-color;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    right: 0;
                    bottom: 0;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 1px solid $white;
                    content: "";
                    transform: translate(-50%, -50%);
                }

            }

            h4 {
                color: $white;
                margin-top: 30px;
            }

            h5 {
                margin-top: 15px;

                a {
                    color: $white;
                }
            }
        }
    }
}


.service-card {
    &.style1 {
        padding: 30px;
        border: 1px solid $border-color;
        background: #F3F7FB;
        border-radius: 30px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        .icon {
            border-radius: 8px;
            border: 1px solid $border-color;
            background: transparent;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            margin-bottom: 20px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .body {
            h3 {
                a {
                    color: $title-color;
                    font-family: $title-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                color: $text-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                margin-top: -2px;
                margin-bottom: 25px;
            }

            .link-btn {
                padding: 12px 30px;
                border-radius: 24px;
                -webkit-border-radius: 24px;
                -moz-border-radius: 24px;
                -ms-border-radius: 24px;
                -o-border-radius: 24px;
            }
        }

        &:hover {
            border: 1px solid $theme-color;
            background: $theme-color;

            .icon {
                background: $white-color;
                border: 1px solid $white-color;
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
            }

            .body {
                h3 {
                    a {
                        color: $white-color;
                    }
                }

                p {
                    color: $white-color;
                }

                .link-btn {
                    &.style1 {

                        background: $white-color;
                        color: $text-color2;

                    }
                }
            }
        }
    }

    &.style2 {
        padding: 30px;
        background: $white-color;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;

        .icon {
            border-radius: 8px;
            border: 1px solid $border-color;
            background: transparent;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            margin-bottom: 20px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .body {
            h3 {
                a {
                    color: $title-color;
                    font-family: $title-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                color: $text-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                margin-top: -2px;
                margin-bottom: 25px;
            }

            .link-btn {
                padding: 12px 30px;
                border-radius: 24px;
                -webkit-border-radius: 24px;
                -moz-border-radius: 24px;
                -ms-border-radius: 24px;
                -o-border-radius: 24px;
            }
        }

        &:hover {
            background: $theme-color;

            .icon {
                background: $white-color;
                border: 1px solid $white-color;
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
            }

            .body {
                h3 {
                    a {
                        color: $white-color;
                    }
                }

                p {
                    color: $white-color;
                }

                .link-btn {
                    &.style1 {

                        background: $white-color;
                        color: $text-color2;

                    }
                }
            }
        }
    }
}


.service-card-thumb {
    &.style1 {
        position: relative;
        text-align: center;
        background: $theme-color;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;

        .thumb {
            position: relative;
            z-index: 3;
        }

        .shape1_1 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        .shape1_2 {
            position: absolute;
            top: 157px;
            left: 40px;
            z-index: 1;
        }

        .shape1_3 {
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 1;
        }

        .shape1_4 {
            position: absolute;
            top: 45px;
            left: 24px;
            z-index: 1;
        }
    }
}